.link {
    color: #ffffff;
}

.closemenu {
    color: #ffffff;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
}

.pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #ffffff;
}

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
}

/* .pro-sidebar-inner {
    background-color: rgb(45, 29, 184) !important;
} */

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: rgb(255, 253, 253);
    margin: 10px 0px;
    font-weight: bold;
}

.headerHeight {
    height: 5em;
}

.logotext {
    font-size: 30px;
    padding: 0 20px;
    color: rgb(255, 253, 253);
    font-weight: bold;
}

/* .sidebargeneral {
    background-color: rgb(20, 9, 117) !important;
} */

.menuitem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem .social-buttons {
    border: 1px solid rgb(27, 27, 29);
}

.menuitem .social-buttons:hover {
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px #3b5998;
    transition: all 0.5s ease;
}

/* .hover {
    background-color: rgb(20, 9, 117) !important;
} */

.hover:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}